# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# logs
*.log
logs/

# os
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/
